In [ ]:
from IPython.core.display import display_html
display_html("<script>Jupyter.notebook.kernel.restart()</script>",raw=True)

In [1]:
from sys import path; path.insert(1,"../src");
import fubar; from importlib import reload; reload(fubar);

In [2]:
from sys import path; path.insert(2,"./hide"); # from MySQL import mysql

***
< [GMIT Data Analytics](https://web.archive.org/web/20201029063153/https://www.gmit.ie/computer-science-and-applied-physics/higher-diploma-science-computing-data-analytics-ict) | [Home](https://github.com/SeanOhAileasa) | [README](https://github.com/SeanOhAileasa/adb-MySQL/blob/main/README.md) >

[![GMIT](https://github.com/SeanOhAileasa/SeanOhAileasa/blob/master/rc/gmit.png?raw=true)](https://web.archive.org/web/20201029063153/https://www.gmit.ie/computer-science-and-applied-physics/higher-diploma-science-computing-data-analytics-ict)

## Applied Databases - Course Material 2020
### Topic: [MySQL](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/adb-MySQL.ipynb)

***

Course material for the ``Applied Databases`` module (5 Credits) of the ``Higher Diploma in Science in Computing (Data Analytics) (H.Dip)`` programme (75 Credits) at **Galway-Mayo Institute of Technology (GMIT)**. Reviewing the ``Applied Databases`` module laboratory exercises in tandem with the ``Data Representation`` module.

In [3]:
from sys import path; path.insert(1,"../src")
from fubar import fFile,fMagic

In [4]:
%%script bash
grep -1 "def fFile" ../src/fubar.py -A 9

# repository ./SeanOhAileasa
def fFile(nParPath):
    """Start a file with its associated application.

Input: nParPath
Process: (os.path.realpath; os.startfile)
Output: file opened with associated application
"""
    from os import path,startfile
    return startfile(path.realpath(nParPath))
# --- END ---

<a id="top"></a>
***
## Table of Contents
***

###### Quick Links
***

* [Applied Databases](#applieddatabases) <br/><br/>
* [Data Representation](#datarep)

## [Acronym](#top)

- &#x1F4CC; Work-in-Progress (WIP)
- ``obj``: object

<hr width=50%;>

< [Table of Contents](#top) | [References](#references) >
<a id="applieddatabases"></a>
## Applied Databases
***

Course material for the ``Applied Databases`` module (5 Credits) of the ``Higher Diploma in Science in Computing (Data Analytics) (H.Dip)`` programme (75 Credits) at **Galway-Mayo Institute of Technology (GMIT)**.

### Data
***

* [data](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data.ipynb) **[External Link]** <br/><br/>
* [database](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database.ipynb) **[External Link]** <br/><br/>
* [schema](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-schema.ipynb) **[External Link]** <br/><br/>
    * [types](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-schema-types-intentionally-blank.ipynb) **[External Link]** <br/><br/>
        * [physical](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-schema-types-physical.ipynb) **[External Link]** <br/><br/>
        * [logical](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-schema-types-logical.ipynb) **[External Link]** <br/><br/>
* [DBMS](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-DBMS.ipynb) **[External Link]** <br/><br/>
    * [MySQL](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-DBMS-MySQL.ipynb) **[External Link]** <br/><br/>
    * [functions](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-DBMS-functions-intentionally-blank.ipynb) **[External Link]** <br/><br/>
        * [CRUD](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-DBMS-functions-CRUD.ipynb) **[External Link]** <br/><br/>
        * [storage](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-DBMS-functions-storage.ipynb) **[External Link]** <br/><br/>
        * [security](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-DBMS-functions-security.ipynb) **[External Link]** <br/><br/>
        * [backup](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-DBMS-functions-backup.ipynb) **[External Link]** <br/><br/>
        * [transactions](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-DBMS-functions-transactions.ipynb) **[External Link]** <br/><br/>
        * [integrity](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-DBMS-functions-integrity.ipynb) **[External Link]** <br/><br/>
        * [concurrency](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-DBMS-functions-concurrency.ipynb) **[External Link]** <br/><br/>
        * [advantages](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-DBMS-functions-advantages-intentionally-blank.ipynb) **[External Link]** <br/><br/> 
            * [redundancy](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-DBMS-functions-advantages-redundancy.ipynb) **[External Link]** <br/><br/>
            * [standards](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-DBMS-functions-advantages-standards.ipynb) **[External Link]** <br/><br/>
        * [disadvantages](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-DBMS-functions-disadvantages-intentionally-blank.ipynb) **[External Link]** <br/><br/>
            * [complexity](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-DBMS-functions-disadvantages-complexity.ipynb) **[External Link]** <br/><br/>
                * [size](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-DBMS-functions-disadvantages-complexity-size.ipynb) **[External Link]** <br/><br/>
            * [performance](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-DBMS-functions-disadvantages-performance.ipynb) **[External Link]** <br/><br/>
            * [failure](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-DBMS-functions-disadvantages-failure.ipynb) **[External Link]** <br/><br/>
    * [normalisation](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-normalisation.ipynb) **[External Link]** <br/><br/>
        * [anomaly](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-normalisation-anomaly-intentionally-blank.ipynb) **[External Link]** <br/><br/> 
            * [update](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-normalisation-anomaly-update.ipynb) **[External Link]** <br/><br/>
            * [insertion](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-normalisation-anomaly-insertion.ipynb) **[External Link]** <br/><br/>
            * [deletion](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-normalisation-anomaly-deletion.ipynb) **[External Link]** <br/><br/>
        * [process](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-normalisation-process.ipynb) **[External Link]** <br/><br/>
            * [foreign-key](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-normalisation-process-foreign-key.ipynb) **[External Link]** <br/><br/>
                * [referential-integrity](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-normalisation-process-foreign-key-referential-integrity.ipynb) **[External Link]** <br/><br/>
* [types](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types.ipynb) **[External Link]**

<hr width=50%;>

### Relational
***

* [relational](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational.ipynb) **[External Link]** <br/><br/>
    * [table](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-table.ipynb) **[External Link]** <br/><br/>
        * [column](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-table-column.ipynb) **[External Link]** <br/><br/>
        * [row](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-table-row.ipynb) **[External Link]** <br/><br/>
    * [spreadsheets](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-spreadsheets.ipynb) **[External Link]** <br/><br/>
    * [language](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-intentionally-blank.ipynb) **[External Link]** <br/><br/>
        * [SQL](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL.ipynb) **[External Link]** <br/><br/>
            * [MySQL](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL.ipynb) **[External Link]** <br/><br/>
                * [MongoDB](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-MongoDB.ipynb) **[External Link]** <br/><br/>
                * [data-types](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-data-types.ipynb) **[External Link]** <br/><br/>
                * [command](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-command-intentionally-blank.ipynb) **[External Link]** <br/><br/> 
                    * [create-database](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-command-CREATE-DATABASE.ipynb) **[External Link]** <br/><br/>
                    * [show-databases](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-command-SHOW-DATABASES.ipynb) **[External Link]** <br/><br/>
                    * [use](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-command-USE.ipynb) **[External Link]** <br/><br/>
                    * [CREATE-TABLE](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-command-CREATE-TABLE.ipynb) **[External Link]** <br/><br/>
                    * [DESCRIBE](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-command-DESCRIBE.ipynb) **[External Link]** <br/><br/>
                    * [SHOW-CREATE-TABLE](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-command-SHOW-CREATE-TABLE.ipynb) **[External Link]** <br/><br/>
            * [C_R_UD-read-command](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-C_R_UD-read-command-intentionally-blank.ipynb) **[External Link]** <br/><br/>
                * [SELECT](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-C_R_UD-read-command-SELECT.ipynb) **[External Link]** <br/><br/>
                    * [alias](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-C_R_UD-read-command-SELECT-alias.ipynb) **[External Link]** <br/><br/>
                    * [INNER-JOIN](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-C_R_UD-read-command-SELECT-INNER-JOIN.ipynb) **[External Link]** <br/><br/>
                    * [LEFT-JOIN](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-C_R_UD-read-command-SELECT-LEFT-JOIN.ipynb) **[External Link]** <br/><br/>
                    * [WHERE](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-C_R_UD-read-command-SELECT-WHERE.ipynb)&nbsp;&nbsp;|&nbsp;&nbsp;[operator](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-C_R_UD-read-command-SELECT-WHERE-operator.ipynb)&nbsp;&nbsp;|&nbsp;&nbsp;[AND-OR](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-C_R_UD-read-command-SELECT-WHERE-operator-AND-OR.ipynb)&nbsp;&nbsp;|&nbsp;&nbsp;[BETWEEN](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-C_R_UD-read-command-SELECT-WHERE-operator-BETWEEN.ipynb)&nbsp;&nbsp;|&nbsp;&nbsp;[LIKE](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-C_R_UD-read-command-SELECT-WHERE-operator-LIKE.ipynb)&nbsp;&nbsp;|&nbsp;&nbsp;[IN](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-C_R_UD-read-command-SELECT-WHERE-operator-IN.ipynb) **[External Link]** <br/><br/>
                    * [LIMIT](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-C_R_UD-read-command-SELECT-LIMIT.ipynb) **[External Link]** <br/><br/>
                    * [DISTINCT](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-C_R_UD-read-command-SELECT-DISTINCT.ipynb) **[External Link]** <br/><br/>
                    * [ORDER-BY](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-C_R_UD-read-command-SELECT-ORDER-BY.ipynb) **[External Link]** <br/><br/>
                    * [process](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-C_R_UD-read-command-SELECT-process.ipynb) **[External Link]** <br/><br/>
                        * [subquery](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-C_R_UD-read-command-SELECT-process-subquery.ipynb) **[External Link]** <br/><br/>
            * [\_C_RUD-create-command](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-_C_RUD-create-command-intentionally-blank.ipynb) **[External Link]** <br/><br/>
                * [INSERT-INTO](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-_C_RUD-create-command-INSERT-INTO.ipynb) **[External Link]** <br/><br/>
            * [CR_U_D-update-command](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-CR_U_D-update-command-intentionally-blank.ipynb) **[External Link]** <br/><br/>
                * [UPDATE-SET](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-CR_U_D-update-command-UPDATE-SET.ipynb) **[External Link]** <br/><br/>
            * [CRU_D_-delete-command](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-CRU_D_-delete-command-intentionally-blank.ipynb) **[External Link]** <br/><br/>
                * [DELETE](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-CRU_D_-delete-command-DELETE.ipynb) **[External Link]** <br/><br/>
                    * [foreign-key](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-CRU_D_-delete-command-DELETE-foreign-key-intentionally-blank.ipynb)&nbsp;&nbsp;|&nbsp;&nbsp;[ON-DELETE-RESTRICT](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-CRU_D_-delete-command-DELETE-foreign-key-ON-DELETE-RESTRICT.ipynb)&nbsp;&nbsp;|&nbsp;&nbsp;[ON-DELETE-CASCADE](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-CRU_D_-delete-command-DELETE-foreign-key-ON-DELETE-CASCADE.ipynb)&nbsp;&nbsp;|&nbsp;&nbsp;[ON-DELETE-SET-NULL](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-CRU_D_-delete-command-DELETE-foreign-key-ON-DELETE-SET-NULL.ipynb) **[External Link]** <br/><br/>
        * [primary-key](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-primary-key.ipynb) **[External Link]** <br/><br/>
        * [function](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function.ipynb) **[External Link]** <br/><br/>
            * [built-in](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-built-in.ipynb) **[External Link]** <br/><br/>
                * [string](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-built-in-string-intentionally-blank.ipynb) **[External Link]** <br/><br/>
                    * [UPPER](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-built-in-string-UPPER.ipynb) **[External Link]** <br/><br/>
                    * [STRCMP](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-built-in-string-STRCMP.ipynb) **[External Link]** <br/><br/>
                    * [ASCII](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-built-in-string-ASCII.ipynb) **[External Link]** <br/><br/>
                    * [REPLACE](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-built-in-string-REPLACE.ipynb) **[External Link]** <br/><br/>
                    * [SUBSTR](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-built-in-string-SUBSTR.ipynb) **[External Link]** <br/><br/>
                    * [CONCAT](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-built-in-string-CONCAT.ipynb) **[External Link]** <br/><br/>
                * [numeric](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-built-in-numeric-intentionally-blank.ipynb) **[External Link]** <br/><br/>
                    * [SQRT](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-built-in-numeric-SQRT.ipynb) **[External Link]** <br/><br/>
                    * [ROUND](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-built-in-numeric-ROUND.ipynb) **[External Link]** <br/><br/>
                * [date](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-built-in-date-intentionally-blank.ipynb) **[External Link]** <br/><br/>
                    * [DATEDIFF](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-built-in-date-DATEDIFF.ipynb) **[External Link]** <br/><br/>
                    * [DATE_FORMAT](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-built-in-date-DATE_FORMAT.ipynb) **[External Link]** <br/><br/>
                * [aggregate](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-built-in-aggregate.ipynb) **[External Link]** <br/><br/>
                    * [AVG](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-built-in-aggregate-AVG.ipynb) **[External Link]** <br/><br/>
                    * [COUNT](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-built-in-aggregate-COUNT.ipynb) **[External Link]** <br/><br/>
                * [clause](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-built-in-aggregate-clause-intentionally-blank.ipynb) **[External Link]** <br/><br/>
                    * [GROUP-BY](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-built-in-aggregate-clause-GROUP-BY.ipynb) **[External Link]** <br/><br/>
                        * [HAVING](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-built-in-aggregate-clause-GROUP-BY-HAVING.ipynb) **[External Link]** <br/><br/>
                * [information](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-built-in-information-intentionally-blank.ipynb) **[External Link]** <br/><br/>
                    * [DATABASE](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-built-in-information-DATABASE.ipynb) **[External Link]** <br/><br/>
                    * [USER](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-built-in-information-USER.ipynb) **[External Link]** <br/><br/>
                * [control-flow](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-built-in-control-flow.ipynb) **[External Link]** <br/><br/>
                    * [conditional](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-built-in-control-flow-conditional.ipynb) **[External Link]** <br/><br/>
                    * [CASE](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-built-in-control-flow-CASE.ipynb) **[External Link]** <br/><br/>
            * [stored-routine](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-stored-routine.ipynb) **[External Link]** <br/><br/>
                * [CREATE-FUNCTION](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-stored-routine-CREATE-FUNCTION.ipynb) **[External Link]** <br/><br/>
                * [information_schema](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-stored-routine-information_schema.ipynb) **[External Link]** <br/><br/>
                * [command](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-stored-routine-command-intentionally-blank.ipynb) **[External Link]** <br/><br/>
                    * [SHOW-CREATE-FUNCTION](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-stored-routine-command-SHOW-CREATE-FUNCTION.ipynb) **[External Link]** <br/><br/>
                    * [DROP](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-stored-routine-command-DROP.ipynb) **[External Link]** <br/><br/>
                * [stored-procedure](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-stored-procedure.ipynb) **[External Link]** <br/><br/>
                    * [CREATE-PROCEDURE](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-stored-procedures-CREATE-PROCEDURE.ipynb) **[External Link]** <br/><br/>
                    * [information_schema](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-stored-procedures-information_schema.ipynb) **[External Link]** <br/><br/>
                        * [command](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-stored-procedures-command-intentionally-blank.ipynb)&nbsp;&nbsp;|&nbsp;&nbsp;[SHOW-CREATE-PROCEDURE](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-stored-procedures-command-SHOW-CREATE-PROCEDURE.ipynb)&nbsp;&nbsp;|&nbsp;&nbsp;[DROP](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/rc/data-database-types-relational-language-SQL-MySQL-function-stored-procedures-command-DROP.ipynb) **[External Link]**

***
## END

< [Table of Contents](#top) | [References](#references) >
<a id="datarep"></a>
## Data Representation
***

Course material for the ``Data Representation`` module (5 Credits) of the ``Higher Diploma in Science in Computing (Data Analytics) (H.Dip)`` programme (75 Credits) at **Galway-Mayo Institute of Technology (GMIT)**.

### [Connect MySQL - Python](#connectMySQLPython)
***

* [InfoSec](#security) <br/><br/>
    * [Credentials](#credentials) <br/><br/>
        * [``getpass``](#credentialsgetpass) <br/><br/>
        * [``os``](#credentialsEnvironmentVariables) <br/><br/>
            * [``environ``](#credentialsEnvironmentVariablesos)&nbsp;&nbsp;|&nbsp;&nbsp;[``get``](#credentialsEnvironmentVariablesos) <br/><br/>
                * [``Linux``](#credentialsEnvironmentVariablesLinux)&nbsp;&nbsp;|&nbsp;&nbsp;[``Windows``](#credentialsEnvironmentVariablesWindows) <br/><br/>
    * [SQL Injection](#sqlInjection) <br/><br/>
        * [CreateRUD](#createRUD) <br/><br/>
* [Server](#server) <br/><br/>
    * [``WAMP``](#serverWAMP)&nbsp;&nbsp;|&nbsp;&nbsp;[Dependencies](#wampserverDependencies) <br/><br/>
        * [``localhost:3306``](#serverWAMPservices) <br/><br/>
* [Driver](#driver) <br/><br/>
    * [``mysql.connector``](#mysqlconnector) <br/><br/>
        * &#8594; ``obj``: <br/><br/>    
            * [``connect``](#mysqlconnectorconnect)&nbsp;&nbsp;|&nbsp;&nbsp;[``:host``](#mysqlconnectorconnect)&nbsp;&nbsp;|&nbsp;&nbsp;[``:user``](#mysqlconnectorconnect)&nbsp;&nbsp;|&nbsp;&nbsp;[``:password``](#mysqlconnectorconnect)&nbsp;&nbsp;|&nbsp;&nbsp;[``:database``](#mysqlconnectorconnect) <br/><br/> 
        * [``errors``](#mysqlconnectorerrors) <br/><br/>
            * [``Error``](#mysqlconnectorError) (&#8594; InfoSec &#8594; Credentials &#8594; ``getpass``) <br/><br/>
        * [``cursor``](#mysqlconnectorMySQLCursorcursor)&nbsp;&nbsp;|&nbsp;&nbsp;[``execute``](#mysqlconnectorMySQLCursorcursor) (&#8594; Driver &#8594; ``mysql.connector`` &#8594; ``obj`` &#8594; ``connect``) <br/><br/>
            * [``fetchall``](#mysqlconnectorMySQLCursorfetchall) <br/><br/>
                * [CReadUD](#mysqlconnectorMySQLCursorfetchallCReadUD) <br/><br/>
            * [``commit``](#mysqlconnectorMySQLCursorcommit) <br/><br/> 
                * [CRUpdateD](#mysqlconnectorMySQLCursorcommitCRUpdateD) <br/><br/> 
                * [CRUDelete](#mysqlconnectorMySQLCursorcommitCRUDelete) <br/><br/>
        * [``DAO``](#dataaccessobject) <br/><br/>
            * [``CStudentDAO``](#CStudentDAO) <br/><br/>
                * [C](#CStudentDAOcreateRUD) (&#8594; InfoSec &#8594; SQL Injection &#8594; CreateRUD) <br/><br/>
                * [R](#CStudentDAOcReadUD) (&#8594; Driver &#8594; ``mysql.connector`` &#8594; ``cursor`` &#8594; ``fetchall`` &#8594; CReadUD) <br/><br/>
                    * [``fetchone``](#CStudentDAOcReadUDfetchone) <br/><br/>
                * [U](#CStudentDAOCRUpdateD) (&#8594; Driver &#8594; ``mysql.connector`` &#8594; ``cursor`` &#8594; ``commit`` &#8594; CRUpdateD) <br/><br/>
                * [D](#CStudentDAOCRUDelete) (&#8594; Driver &#8594; ``mysql.connector`` &#8594; ``cursor`` &#8594; ``commit`` &#8594; CRUDelete) <br/><br/>
            * [Instantiation](#dataaccessobjectInstantiation) [C](#dataaccessobjectInstantiationC)&nbsp;&nbsp;|&nbsp;&nbsp;[R](#dataaccessobjectInstantiationR)&nbsp;&nbsp;|&nbsp;&nbsp;[U](#dataaccessobjectInstantiationU)&nbsp;&nbsp;|&nbsp;&nbsp;[D](#dataaccessobjectInstantiationD) <br/><br/>
                * [Test](#dataaccessobjectInstantiationTest)

< [Table of Contents](#top) | [References](#references) >
<a id="connectMySQLPython"></a>
***
### Connect MySQL - Python
***

In [ ]:
# fFile(nParPath="./hide/drp/DR9.01 databases - 28-11-2019.mp4")
# fFile(nParPath="./hide/drp/DR9.01 databases.pptx")
# fFile(nParPath="./hide/drp/Lab09.01 databases.pdf")

- integrate ``MySQL`` database with an application [2]

< [Table of Contents](#top) | [References](#references) >
<a id="security"></a>
***
### InfoSec
***

&#x1F6A7;

< [Table of Contents](#top) | [References](#references) >
<a id="credentials"></a>
***
###### Credentials
***

- should never hard-code login credentials [2][[Uber](https://web.archive.org/web/20210902085724/https://qz.com/674520/companies-are-sharing-their-secret-access-codes-on-github-and-they-may-not-even-know-it/)]

< [Table of Contents](#top) | [References](#references) >
<a id="credentialsgetpass"></a>
***
###### ``getpass``
***

- built-in module ``getpass`` module hides the password [2]

In [1]:
from getpass import getpass

In [2]:
exit()

< [Table of Contents](#top) | [References](#references) >
<a id="credentialsEnvironmentVariables"></a>
***
###### ``os``
***

- while the use of the built-in module ``getpass`` to hide the password is better than hard-coding a more secure approach is to store sensitive information using environment variables [2]

In [1]:
import os

In [2]:
exit()

< [Table of Contents](#top) | [References](#references) >
<a id="credentialsEnvironmentVariablesos"></a>
***
###### ``environ`` ``get``
***

In [1]:
from os import environ

< [Table of Contents](#top) | [References](#references) >
<a id="credentialsEnvironmentVariablesLinux"></a>
***
###### ``Linux``
***

- edit ``.bash_profile`` [2]

- add (sensitive) environment variables [2]

```
export DB_USER="someUser"
export DB_PASS="somePassword"
```

- ``environ`` (returns a ``dict``) allows access to the ``key`` (``DB_USER`` or ``DB_PASS``) via ``get`` and returns the ``value`` [2]

```
nUser=os.environ.get("DB_USER")
nPass=os.environ.get("DB_USER")
```

< [Table of Contents](#top) | [References](#references) >
<a id="credentialsEnvironmentVariablesWindows"></a>
***
###### ``Windows``
***

- within ``System`` (``Advanced system settings``) via ``Environment Variables`` add ``User variables`` [2]

In [2]:
exit()

< [Table of Contents](#top) | [References](#references) >
<a id="sqlInjection"></a>
***
###### SQL Injection
***

- to prevent SQL injection should not pass in any values from a user [2]

- using ``%s`` the values from the user are passed in as a ``tuple`` (calling ``execute`` the values are passed in as a variable) [2]

< [Table of Contents](#top) | [References](#references) >
<a id="createRUD"></a>
***
###### CreateRUD
***

In [1]:
nValues="Mary",21 # value from user
type(nValues)

tuple

In [2]:
from mysql.connector import connect

In [3]:
nObjMySQLConnection=connect(host="localhost",user="root",password="",database="data_representation") # establish a connection

In [4]:
nInsObjCursor=nObjMySQLConnection.cursor() # traveral over records

In [5]:
sqlQuery="INSERT INTO student (firstname,age) VALUES (%s,%s)"

In [6]:
nInsObjCursor.execute(sqlQuery,nValues)

In [7]:
nObjMySQLConnection.commit() # commit current transaction
print("x1 record inserted, ID: ",nInsObjCursor.lastrowid)

x1 record inserted, ID:  1

In [8]:
nInsObjCursor.execute("INSERT INTO student (firstname,age) VALUES (%s,%s)",("Joe",55))
nObjMySQLConnection.commit() # commit current transaction
print("x1 record inserted, ID: ",nInsObjCursor.lastrowid)

x1 record inserted, ID:  2

In [9]:
exit()

< [Table of Contents](#top) | [References](#references) >
<a id="server"></a>
***
### Server
***

&#x1F6A7;

< [Table of Contents](#top) | [References](#references) >
<a id="serverWAMP"></a>
***
###### ``WAMP``
***

- install ``Windows Apache MySQL and PHP`` ([``WAMP``](https://www.wampserver.com/en/download-wampserver-64bits/)) [2]

< [Table of Contents](#top) | [References](#references) >
<a id="wampserverDependencies"></a>
***
######  Dependencies
***

- may need to install [[Microsoft Visual C++ Redistributable for Visual Studio](https://www.microsoft.com/en-us/download/details.aspx?id=30679)] [1]

- may need to install Microsoft C++ dynamic-link library (``msvcr120.dll``) file (same version as ``WAMP``) [2]

< [Table of Contents](#top) | [References](#references) >
<a id="serverWAMPservices"></a>
***
###### ``localhost:3306``
***

- kill process using port ``3306`` via command prompt as administrator

```
netstat -ano | findstr :3306
```

```
taskkill /PID ____ /F
```

< [Table of Contents](#top) | [References](#references) >
<a id="driver"></a>
***
###  Driver
***

- connect and interact with database system [2]

< [Table of Contents](#top) | [References](#references) >
<a id="mysqlconnector"></a>
***
###### ``mysql.connector``
***

In [ ]:
# fFile(nParPath="./hide/drp/DR09.02 python and DB - 28-11-2019.mp4")
# fFile(nParPath="./hide/drp/DR09.02 python and SQL.pptx")
# fFile(nParPath="./hide/drp/Lab09.02 python and databases.pdf")

In [1]:
import mysql.connector

In [2]:
print(mysql.connector.__doc__)

MySQL Connector/Python - MySQL driver written in Python

In [3]:
exit()

< [Table of Contents](#top) | [References](#references) >
<a id="mysqlconnectorconnect"></a>
*** 
###### ``connect`` ``:host`` ``:user`` ``:password`` ``:database``
***

- establish a connection [1]

In [1]:
# from mysql.connector import connect

In [2]:
# nObjMySQLConnection=connect(host="localhost",user="root",password="",database="datarep") 
# mysql> DROP DATABASE datarep;

In [3]:
exit()

< [Table of Contents](#top) | [References](#references) >
<a id="mysqlconnectorerrors"></a>
*** 
###### ``errors`` 
***

In [1]:
from mysql.connector import errors

In [2]:
print(errors.__doc__)

Python exceptions

In [3]:
exit()

< [Table of Contents](#top) | [References](#references) >
<a id="mysqlconnectorerror"></a>
*** 
###### ``Error`` 
***

In [1]:
from mysql.connector import connect

- built-in ``getpass`` module hides the password [2]

In [2]:
from getpass import getpass

In [3]:
from mysql.connector.errors import Error

- context manager using ``with`` abstracts away the connection cleanup process (and other system resources such as files or locks) [2]

In [4]:
try:
    with connect(host="localhost",user=input("enter username: "),password=getpass("enter password: ")) as nObjMySQLConnection:
        print(nObjMySQLConnection)
except Error as e:
    print(e)

enter username: notUSER
enter password:
1045 (28000): Access denied for user 'notUSER'@'localhost' (using password: YES)

In [5]:
exit()

< [Table of Contents](#top) | [References](#references) >
<a id="mysqlconnectorMySQLCursorcursor"></a>
*** 
###### ``cursor`` ``execute``
***

- a database ``cursor`` is a mechanism that enables traveral over records in a database (akin to the concept of ``iterator`` that enables traveral over a container particularly ``lists``) [2]

- executing an ``sqlQuery`` using a ``cursor`` abstracts away the access to database records [2]

- creating a database ``data_representation`` using a python script (usually create the database and tables on the server and not through python) [3]

In [1]:
sqlCreateDatabase="CREATE DATABASE data_representation" # not usually done

In [2]:
from mysql.connector import connect
from getpass import getpass
from mysql.connector.errors import Error

- the ``MySQLCursor`` class instantiates an object (``nInsObjCursor``) that can execute SQL queries [2]

- a query that needs to be executed is sent in a string format to ``nInsObjCursor.execute`` [2]

In [3]:
try:
    with connect(host="localhost",user=input("enter username: "),password=getpass("enter password: ")) as nObjMySQLConnection:
        with nObjMySQLConnection.cursor() as nInsObjCursor: # traveral over records
            nInsObjCursor.execute(sqlCreateDatabase) # abstracts away access
            nInsObjCursor.execute("show databases") # verify MySQL server          
            for db in nInsObjCursor:
                print(db)
except Error as e:
    print(e)

enter username: root
enter password:
('information_schema',)
('data_representation',)
('mysql',)
('performance_schema',)
('sys',)

In [4]:
sqlCreateTable="CREATE TABLE student(id INT NOT NULL AUTO_INCREMENT,firstname VARCHAR(255),age INT,PRIMARY KEY(id))" # create table student

In [5]:
nObjMySQLConnection=connect(host="localhost",user="root",password="",database="data_representation") # use database created
nInsObjCursor=nObjMySQLConnection.cursor() # traveral over records
nInsObjCursor.execute(sqlCreateTable)
nInsObjCursor.execute("show tables")
for tables in nInsObjCursor:
    print(tables)

('student',)

In [6]:
exit()

< [Table of Contents](#top) | [References](#references) >
<a id="mysqlconnectorMySQLCursorfetchall"></a>
*** 
###### ``fetchall``
***

- return all rows (``list`` of ``tuple``) [3]

< [Table of Contents](#top) | [References](#references) >
<a id="mysqlconnectorMySQLCursorfetchallCReadUD"></a>
*** 
###### CReadUD
***

In [1]:
from mysql.connector import connect

In [2]:
nObjMySQLConnection=connect(host="localhost",user="root",password="",database="data_representation") # establish a connection

In [3]:
nInsObjCursor=nObjMySQLConnection.cursor() # traveral over records

In [4]:
nInsObjCursor.execute("SELECT * FROM student")

In [5]:
for i in nInsObjCursor.fetchall():
    print(i)

(1, 'Mary', 21)
(2, 'Joe', 55)

In [6]:
nInsObjCursor.execute("SELECT * FROM student WHERE id=%s",(1,))

In [7]:
for i in nInsObjCursor.fetchall():
    print(i)

(1, 'Mary', 21)

In [8]:
exit()

< [Table of Contents](#top) | [References](#references) >
<a id="mysqlconnectorMySQLCursorcommit"></a>
*** 
###### ``commit``
***

- by default ``mysql.connector`` does not autocommit transactions - aways call method ``commit`` after every transaction to perform changes in the actual table [2]

< [Table of Contents](#top) | [References](#references) >
<a id="mysqlconnectorMySQLCursorcommitCRUpdateD"></a>
*** 
###### CRUpdateD
***

In [1]:
nCorrect="Maryanne",31,1
type(nCorrect)

tuple

In [2]:
sqlQuery="UPDATE student SET firstname=%s,age=%s WHERE id=%s"

In [3]:
from mysql.connector import connect

In [4]:
nObjMySQLConnection=connect(host="localhost",user="root",password="",database="data_representation") # establish a connection

In [5]:
nInsObjCursor=nObjMySQLConnection.cursor() # traveral over records

In [6]:
nInsObjCursor.execute(sqlQuery,nCorrect)

In [7]:
nObjMySQLConnection.commit() # commit current transaction

In [8]:
exit()

< [Table of Contents](#top) | [References](#references) >
<a id="mysqlconnectorMySQLCursorcommitCRUDelete"></a>
*** 
###### CRUDelete
***

In [1]:
nDeleteID=(1,) # delete Maryanne 31

In [2]:
sqlQuery="DELETE FROM student WHERE id=%s"

In [3]:
from mysql.connector import connect

In [4]:
nObjMySQLConnection=connect(host="localhost",user="root",password="",database="data_representation") # establish a connection

In [5]:
nInsObjCursor=nObjMySQLConnection.cursor() # traveral over records

In [6]:
nInsObjCursor.execute(sqlQuery,nDeleteID)

In [7]:
nObjMySQLConnection.commit() # commit current transaction

In [8]:
exit()

< [Table of Contents](#top) | [References](#references) >
<a id="dataaccessobject"></a>
*** 
###### ``DAO``
***

- data access object (``DAO``) is an abstract interface to some database [3]

< [Table of Contents](#top) | [References](#references) >
<a id="CStudentDAO"></a>
*** 
###### ``CStudentDAO``
***

- putting into a file (``./DAO/studentDAO.py``) so that it can be reused [3]

In [1]:
%%script bash
grep "mysql.connector" ./DAO/StudentDAO.py

from mysql.connector import connect

- class ``CStudentDAO`` when initialised creates a database connection - instances of ``CStudentDAO`` can be import into another file (``flask``) [3]

- ``class`` attribute ``nClsAttDB`` initially blank [3]

In [2]:
%%script bash
grep -1 "class CStudent" ./DAO/StudentDAO.py -A 1

# define class - CStudentDAO
class CStudentDAO: # blueprint state functionality
	nClsAttDB="" # for all instances

- initialise ``CStudentDAO`` setting ``nClsAttDB`` to the established connection [3]

- on a production server would: i) use a connection pool and; ii) not hard code ``connect`` parameters (``host`` and ``user`` and ``password`` and ``database``) given these change from machine to machine (instead read from a configuration file) [3]

In [3]:
%%script bash
grep -7 "self.nClsAttDB=conn" ./DAO/StudentDAO.py -A 0

	def __init__(self): # initialise object state
		""" Using class attribute to create default value (state).

	Input: object itself (self)
	Process: nClsAttDB
	Output: called automatically when creating a new instance of CStudentDAO
	"""
		self.nClsAttDB=connect(host="localhost",user="root",password="",database="data_representation") # establish a connection

In [4]:
exit()

< [Table of Contents](#top) | [References](#references) >
<a id="CStudentDAOcreateRUD"></a>
*** 
###### C
***

- create ``cursor`` from ``self.nClsAttDB`` [3]

In [1]:
%%script bash
grep "def fInsMetCreate" ./DAO/StudentDAO.py -A 10

	def fInsMetCreate(self,nInsAttValues):
		""" Using the values (%s) from somewhere passed in as a tuple executing as a variable create record.
	Input: object itself (self); nInsAttValues
	Process: nClsAttDB
	Output:
	"""
		nInsObjCursor=self.nClsAttDB.cursor() # traveral over records
		sqlQuery="INSERT INTO student (firstname,age) VALUES (%s,%s)"
		nInsObjCursor.execute(sqlQuery,nInsAttValues) # abstracts away access
		self.nClsAttDB.commit() # commit current transaction
		return nInsObjCursor.lastrowid

In [2]:
exit()

< [Table of Contents](#top) | [References](#references) >
<a id="CStudentDAOcReadUD"></a>
*** 
###### R
***

- return all records [3]

In [1]:
%%script bash
grep "def fInsMetGetAll" ./DAO/StudentDAO.py -A 10

	def fInsMetGetAll(self):
		""" Return all records.

	Input: object itself (self)
	Process: nClsAttDB
	Output: show all records
	"""
		nInsObjCursor=self.nClsAttDB.cursor()
		sqlQuery="SELECT * FROM student"
		nInsObjCursor.execute(sqlQuery)
		return nInsObjCursor.fetchall()

In [2]:
exit()

< [Table of Contents](#top) | [References](#references) >
<a id="CStudentDAOcReadUDfetchone"></a>
*** 
###### ``fetchone``
***

- return record with ``nInsAttID`` passed [3]

In [1]:
%%script bash
grep "def fInsMetGetByID" ./DAO/StudentDAO.py -A 11

	def fInsMetGetByID(self,nInsAttID):
		""" Using the ID (%s) from somewhere passed in as a tuple executing as a variable find record by ID.

	Input: object itself (self); nInsAttID
	Process: nClsAttDB
	Output: show record by ID
	"""
		nInsObjCursor=self.nClsAttDB.cursor()
		sqlQuery="SELECT * FROM student WHERE id=%s"
		nTupleValues=(nInsAttID,)
		nInsObjCursor.execute(sqlQuery,nTupleValues)
		return nInsObjCursor.fetchone()

In [2]:
exit()

< [Table of Contents](#top) | [References](#references) >
<a id="CStudentDAOCRUpdateD"></a>
*** 
###### U
***

In [1]:
%%script bash
grep "def fInsMetUpdate" ./DAO/StudentDAO.py -A 10

	def fInsMetUpdate(self,nInsAttID):
		""" Using the ID (%s) from somewhere passed in as a tuple executing as a variable update record.

	Input: object itself (self); nInsAttID
	Process: nClsAttDB
	Output: update record by ID
	"""
		nInsObjCursor=self.nClsAttDB.cursor()
		sqlQuery="UPDATE student SET firstname=%s,age=%s WHERE id=%s"
		nInsObjCursor.execute(sqlQuery,nInsAttID)
		self.nClsAttDB.commit()

In [2]:
exit()

< [Table of Contents](#top) | [References](#references) >
<a id="CStudentDAOCRUDelete"></a>
*** 
###### D
***

In [1]:
%%script bash
grep "def fInsMetDelete" ./DAO/StudentDAO.py -A 11

	def fInsMetDelete(self,nInsAttID):
		""" Using the values (%s) from somewhere passed in as a tuple executing as a variable delete record.

	Input: object itself (self); nInsAttID
	Process: nClsAttDB
	Output: record deleted
	"""
		nInsObjCursor=self.nClsAttDB.cursor()
		sqlQuery="DELETE FROM student where id=%s"
		nTupleValues=(nInsAttID,)
		nInsObjCursor.execute(sqlQuery,nTupleValues)
		self.nClsAttDB.commit()

In [2]:
exit()

< [Table of Contents](#top) | [References](#references) >
<a id="dataaccessobjectInstantiation"></a>
*** 
###### Instantiation
***

- creating unique instance of ``CStudentDAO`` [3]

In [1]:
from DAO.studentDAO import CStudentDAO

In [2]:
# instantiate object - CStudentDAO
nInsObjStudent=CStudentDAO()

In [3]:
type(nInsObjStudent)

DAO.studentDAO.CStudentDAO

In [4]:
nInsObjStudent.fInsMetGetAll() # one record table

[(2, 'Joe', 55)]

< [Table of Contents](#top) | [References](#references) >
<a id="dataaccessobjectInstantiationC"></a>
*** 
###### C
***

- create record from ``nTupleValues`` and return ``nLatestID`` [3]

In [5]:
nTupleValues="Mark",45

In [6]:
nLatestID=nInsObjStudent.fInsMetCreate(nTupleValues)

In [7]:
nLatestID # current database id

3

< [Table of Contents](#top) | [References](#references) >
<a id="dataaccessobjectInstantiationR"></a>
*** 
###### R
***

- view record previously created [3]

In [8]:
nCurrentID=nInsObjStudent.fInsMetGetByID(nLatestID) # find id 3

In [9]:
nCurrentID

(3, 'Mark', 45)

- view all records [3]

In [10]:
for nEachStudent in nInsObjStudent.fInsMetGetAll():
    print(nEachStudent)

(2, 'Joe', 55)
(3, 'Mark', 45)

< [Table of Contents](#top) | [References](#references) >
<a id="dataaccessobjectInstantiationU"></a>
*** 
###### U
***

- update last record created (``nLatestID``) from ``nTupleValues`` [3]

In [11]:
nTupleValues=("Fred",21,nLatestID)

In [12]:
nInsObjStudent.fInsMetUpdate(nTupleValues)

In [13]:
nCurrentID=nInsObjStudent.fInsMetGetByID(nLatestID) # find id 3

In [14]:
nCurrentID

(3, 'Fred', 21)

In [15]:
for nEachStudent in nInsObjStudent.fInsMetGetAll():
    print(nEachStudent)

(2, 'Joe', 55)
(3, 'Fred', 21)

< [Table of Contents](#top) | [References](#references) >
<a id="dataaccessobjectInstantiationD"></a>
*** 
###### D
***

- delete last record created (``nLatestID``)

In [16]:
nInsObjStudent.fInsMetDelete(nLatestID)

In [17]:
nInsObjStudent.fInsMetGetAll() # one record table

[(2, 'Joe', 55)]

In [18]:
exit()

< [Table of Contents](#top) | [References](#references) >
<a id="dataaccessobjectInstantiationTest"></a>
*** 
###### Test
***

In [1]:
%%script bash
cat ./DAO/studentDAO.py

from mysql.connector import connect
# define class - CStudentDAO
class CStudentDAO: # blueprint state functionality
	nClsAttDB="" # for all instances
	def __init__(self): # initialise object state
		""" Using class attribute to create default value (state).

	Input: object itself (self)
	Process: nClsAttDB
	Output: called automatically when creating a new instance of CStudentDAO
	"""
		self.nClsAttDB=connect(host="localhost",user="root",password="",database="data_representation") # establish a connection
	def fInsMetCreate(self,nInsAttValues):
		""" Using the values (%s) from somewhere passed in as a tuple executing as a variable create record.
	Input: object itself (self); nInsAttValues
	Process: nClsAttDB
	Output:
	"""
		nInsObjCursor=self.nClsAttDB.cursor() # traveral over records
		sqlQuery="INSERT INTO student (firstname,age) VALUES (%s,%s)"
		nInsObjCursor.execute(sqlQuery,nInsAttValues) # abstracts away access
		self.nClsAttDB.commit() # commit current transaction
		return nInsObjCursor.lastrowid
	def fInsMetGetAll(self):
		""" Return all records.

	Input: object itself (self)
	Process: nClsAttDB
	Output: show all records
	"""
		nInsObjCursor=self.nClsAttDB.cursor()
		sqlQuery="SELECT * FROM student"
		nInsObjCursor.execute(sqlQuery)
		return nInsObjCursor.fetchall()
	def fInsMetGetByID(self,nInsAttID):
		""" Using the ID (%s) from somewhere passed in as a tuple executing as a variable find record by ID.

	Input: object itself (self); nInsAttID
	Process: nClsAttDB
	Output: show record by ID
	"""
		nInsObjCursor=self.nClsAttDB.cursor()
		sqlQuery="SELECT * FROM student WHERE id=%s"
		nTupleValues=(nInsAttID,)
		nInsObjCursor.execute(sqlQuery,nTupleValues)
		return nInsObjCursor.fetchone()
	def fInsMetUpdate(self,nInsAttID):
		""" Using the ID (%s) from somewhere passed in as a tuple executing as a variable update record.

	Input: object itself (self); nInsAttID
	Process: nClsAttDB
	Output: update record by ID
	"""
		nInsObjCursor=self.nClsAttDB.cursor()
		sqlQuery="UPDATE student SET firstname=%s,age=%s WHERE id=%s"
		nInsObjCursor.execute(sqlQuery,nInsAttID)
		self.nClsAttDB.commit()
	def fInsMetDelete(self,nInsAttID):
		""" Using the values (%s) from somewhere passed in as a tuple executing as a variable delete record.

	Input: object itself (self); nInsAttID
	Process: nClsAttDB
	Output: record deleted
	"""
		nInsObjCursor=self.nClsAttDB.cursor()
		sqlQuery="DELETE FROM student where id=%s"
		nTupleValues=(nInsAttID,)
		nInsObjCursor.execute(sqlQuery,nTupleValues)
		self.nClsAttDB.commit()

In [2]:
%%script bash
cat ./DAO/testDAO.py

from studentDAO import CStudentDAO

# instantiate object - CStudentDAO
nInsObjStudent=CStudentDAO()

nLatestID=nInsObjStudent.fInsMetCreate(("Mark",45)) # test CRUD Create
nCurrentID=nInsObjStudent.fInsMetGetByID(nLatestID) # test CRUD Read(id)
print(nCurrentID)
nInsObjStudent.fInsMetUpdate(("Fred",21,nLatestID)) # test CRUD Update
nCurrentID=nInsObjStudent.fInsMetGetByID(nLatestID) # test CRUD Read(id)
print(nCurrentID)
nAllStudents=nInsObjStudent.fInsMetGetAll() # test CRUD Read(*)
for nEachStudent in nAllStudents:
	print(nEachStudent)
nInsObjStudent.fInsMetDelete(nLatestID) # test CRUD Delete

In [3]:
%%script bash
python ./DAO/testDAO.py # record (2, 'Joe', 55) remains

(4, 'Mark', 45)
(4, 'Fred', 21)
(2, 'Joe', 55)
(4, 'Fred', 21)

In [4]:
exit()

***
## END

< [Table of Contents](#top) | [References](#references) >
<a id="references"></a>
***
## References
***

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[1] G. Harrison, "Applied Databases," GMIT, 1st Semester 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2] A. Beatty, "DR9.01 databases," GMIT, November 2019.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2] C. Baweja, "Python and MySQL Database: A Practical Introduction," [realpython.com](https://web.archive.org/web/20210902091838/https://realpython.com/python-mysql/), December 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[3] A. Beatty, "DR09.02 python and DB," GMIT, November 2019.

***
## END

< [Table of Contents](#top) | [References](#references) >
<a id="appendix"></a>
***
## Appendix
***

***
## END

# END JUPYTER NOTEBOOK