# data-database-types-relational-language-SQL-MySQL-C_R_UD-read-command-SELECT-LIMIT
> [TABLE OF CONTENTS](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/adb-MySQL.ipynb#top)
***

- **clause** - **LIMIT** - can be **used** to **constrain** the **number** of **rows** - records - tuples - **returned** **by** - **SELECT** [1]

```sql
mysql> use lab1;
Database changed
```

```sql
mysql> show tables;
+----------------+
| Tables_in_lab1 |
+----------------+
| car            |
| person         |
+----------------+
2 rows in set (0.00 sec)
```

```sql
mysql> SELECT *
    -> FROM person;
+----------+-------+------+------+------------+-----------+
| personID | name  | age  | sex  | dob        | isStudent |
+----------+-------+------+------+------------+-----------+
|        1 | John  |   23 | M    | 2000-01-01 |         1 |
|        2 | Tom   |   64 | M    | 1958-03-11 |         0 |
|        3 | Mary  |   12 | F    | 2005-04-11 |         1 |
|        4 | Alan  |   12 | M    | 2005-11-21 |         1 |
|        5 | Pat   |   29 | M    | 1993-03-17 |         0 |
|        6 | Shane |   40 | M    | 1988-07-21 |         0 |
|        7 | Shane |   14 | M    | 2003-06-01 |         1 |
|        8 | Alice |   24 | F    | 1999-03-01 |         1 |
|        9 | Pat   |   37 | F    | 1988-04-15 |         0 |
+----------+-------+------+------+------------+-----------+
9 rows in set (0.00 sec)
```

- returned rows - records - tuples - in column - attribute - field - name - clause - WHERE - column - attribute - field - sex - value - F - operator - AND - column - attribute - field - age - value - greater than twenty [1]

```sql
mysql> SELECT name
    -> FROM person
    -> WHERE sex="F"
    -> AND age>20;
+-------+
| name  |
+-------+
| Alice |
| Pat   |
+-------+
2 rows in set (0.00 sec)
```

- **obtain** a **sample** of **rows** - records - tuples - **clause** - **LIMIT** - **curb** the **output** - no matter how many rows - records - tuples - limited to one [1]

```sql
mysql> SELECT name
    -> FROM person
    -> WHERE sex="F"
    -> AND age>20
    -> LIMIT 1;
+-------+
| name  |
+-------+
| Alice |
+-------+
1 row in set (0.00 sec)
```

- **facebook** feature - **infinite** **scroll** - log on - newsfeeds appear - scroll to end of the page - timer appears for less than a second while another set of stories is fetched from the database on the server - more stories are taken from the database as needed - real world databases hold thousands of rows - records - tuples - fetching may thousands of rows - records - tuples from the database and converting into a format for display on a web page or console may take a long time [1]

- **better** to **only** **fetch** a **few** **rows** - records - tuples - if the user needs to see more - can either scroll down the page or press the next page button [1]

- **operator** - **LIMIT** - **specifying** **two** **parameters** instead of **one** parameter - **first** parameter - **offset** - from the **first** **row** - record - tuple - returned [1]

- **offset** of **zero** means **start** at the **first** **row** - record - tuple [1]

- **operator** - **LIMIT** - **specifying** **two** **parameters** - **second** parameter - **count** - is the **max** **number** of **rows** - records - tuples - returned - returning three rows - records - tuples - per page - as the user scrolls obtaining information from the database in smaller chunks [1]

```sql
mysql> SELECT name,age
    -> FROM person
    -> LIMIT 0,3;
+------+------+
| name | age  |
+------+------+
| John |   23 |
| Tom  |   64 |
| Mary |   12 |
+------+------+
3 rows in set (0.00 sec)
```

```sql
mysql> SELECT name,age
    -> FROM person
    -> LIMIT 3,3;
+-------+------+
| name  | age  |
+-------+------+
| Alan  |   12 |
| Pat   |   29 |
| Shane |   40 |
+-------+------+
3 rows in set (0.00 sec)
```

***
# END