# data-database-types-relational-language-SQL-MySQL-function-built-in-control-flow-CASE
> [TABLE OF CONTENTS](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/adb-MySQL.ipynb#top)
***

- control flow **function** - **IF** - **useful** for **checking** the **veracity** of a **statement** - **return** **one** **value** if **true** - **another** **value** if **false** [1]

- **check** a **number** of **conditions** - control flow **function** - **CASE** **WHEN** [1]

```sql
CASE
    WHEN condition 1 THEN result 1
    WHEN condition 2 THEN result 2
    WHEN condition n THEN result n
    ELSE result
END
```

```sql
mysql> use lab1;
Database changed
```

```sql
mysql> show tables;
+----------------+
| Tables_in_lab1 |
+----------------+
| car            |
| person         |
| personex       |
+----------------+
3 rows in set (0.00 sec)
```

```sql
mysql> SELECT name,dob
    -> FROM person;
+-------+------------+
| name  | dob        |
+-------+------------+
| John  | 2000-01-01 |
| Tom   | 1958-03-11 |
| Mary  | 2005-04-11 |
| Alan  | 2005-11-21 |
| Pat   | 1993-03-17 |
| Shane | 1988-07-21 |
| Shane | 2003-06-01 |
| Alice | 1999-03-01 |
| Pat   | 1988-04-15 |
+-------+------------+
9 rows in set (0.00 sec)
```

- query - report columns - attributes - fields - name - dob - additional column - attribute - field - alias - season - indicating - spring - if person born february to april - summer - if person born may to june - autumn - if person born august to october - winter - if person born november to january - note the column - attribute - field - season - is just a new column - attribute - field - in the result query table - original table - entity - relation - person - unaffected [1]

```sql
mysql> SELECT name,dob,
    -> CASE
    -> WHEN MONTH(dob) IN (2,3,4) THEN "spring"
    -> WHEN MONTH(dob) IN (5,6,7) THEN "summer"
    -> WHEN MONTH(dob) IN (8,9,10) THEN "autumn"
    -> WHEN MONTH(dob) IN (11,12,1) THEN "winter"
    -> END as season
    -> FROM person;
+-------+------------+--------+
| name  | dob        | season |
+-------+------------+--------+
| John  | 2000-01-01 | winter |
| Tom   | 1958-03-11 | spring |
| Mary  | 2005-04-11 | spring |
| Alan  | 2005-11-21 | winter |
| Pat   | 1993-03-17 | spring |
| Shane | 1988-07-21 | summer |
| Shane | 2003-06-01 | summer |
| Alice | 1999-03-01 | spring |
| Pat   | 1988-04-15 | spring |
+-------+------------+--------+
9 rows in set (0.00 sec)
```

- query - only persons born in spring or summer - **clause** - **ELSE** - indicating whatever else the columns - attributes - fields - name - dob - values are then input a string of zero characters - nothing - in the column - attribute - field - season [1]

```sql
mysql> SELECT name,dob,
    -> CASE
    -> WHEN MONTH(dob) IN (2,3,4) THEN "spring"
    -> WHEN MONTH(dob) IN (5,6,7) THEN "summer"
    -> ELSE ""
    -> END AS season
    -> FROM person;
+-------+------------+--------+
| name  | dob        | season |
+-------+------------+--------+
| John  | 2000-01-01 |        |
| Tom   | 1958-03-11 | spring |
| Mary  | 2005-04-11 | spring |
| Alan  | 2005-11-21 |        |
| Pat   | 1993-03-17 | spring |
| Shane | 1988-07-21 | summer |
| Shane | 2003-06-01 | summer |
| Alice | 1999-03-01 | spring |
| Pat   | 1988-04-15 | spring |
+-------+------------+--------+
9 rows in set (0.00 sec)
```

***
# END