# data-database-types-relational-language-SQL-MySQL-CRU_D_-delete-command-DELETE-foreign-key-ON-DELETE-RESTRICT
> [TABLE OF CONTENTS](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/adb-MySQL.ipynb#top)
***

- table - entity - relation - Patient_Table - column - attribute - field - DoctorID - two constraints - i) integer - accepts only whole numbers - ii) foreign key - referencing the table - entity - relation - Doctor_Table - column - attribute - field - DoctorID - only doctor ids - integers - that are already in the table - entity - relation - Doctor_Table - column - attribute - field - DoctorID - can be inserted [1]

 - **referential** **integrity** - **ensures** **database** is **consistent** - cannot reference a doctor that does not exist [1]

<img src="img/07-04-07-01.png" />

```sql
mysql> use bus;
Database changed
```

```sql
mysql> show tables;
+---------------+
| Tables_in_bus |
+---------------+
| bus           |
| driver        |
+---------------+
2 rows in set (0.01 sec)
```

- table - entity - relation - bus - has three columns - attributes - fields - reg - maxPassengers - fuel [1]

```sql
`reg` varchar(15) NOT NULL,
`maxPassengers` int DEFAULT NULL,
`fuel` enum('Diesel','Petrol','Electric') DEFAULT 'Diesel',
```

- column - attribute - field - reg - primary key [1]

```sql
PRIMARY KEY (`reg`)
```

```sql
mysql> SHOW CREATE TABLE bus;
+-------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Table | Create Table                                                                                                                                                                                                      |
+-------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| bus   | CREATE TABLE `bus` (
  `reg` varchar(15) NOT NULL,
  `maxPassengers` int DEFAULT NULL,
  `fuel` enum('Diesel','Petrol','Electric') DEFAULT 'Diesel',
  PRIMARY KEY (`reg`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 |
+-------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
1 row in set (0.00 sec)
```

- table - entity - relation - driver - has three columns - attributes - fields - licenceNo - name - busReg [1]

```sql
`licenceNo` varchar(20) NOT NULL,
`name` varchar(30) DEFAULT NULL,
`busReg` varchar(15) DEFAULT NULL,
```

- column - attribute - field - licenceNo - primary key [1]

```sql
PRIMARY KEY (`licenceNo`),
```

- column - attribute - field - busReg - foreign key - references column - attribute - field - reg - in the table - entity - relation - bus [1]

```sql
CONSTRAINT `driver_ibfk_1` FOREIGN KEY (`busReg`) REFERENCES `bus` (`reg`)
```

```sql
mysql> SHOW CREATE TABLE driver;
+--------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Table  | Create Table                                                                                                                                                                                                                                                                                                                      |
+--------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| driver | CREATE TABLE `driver` (
  `licenceNo` varchar(20) NOT NULL,
  `name` varchar(30) DEFAULT NULL,
  `busReg` varchar(15) DEFAULT NULL,
  PRIMARY KEY (`licenceNo`),
  KEY `busReg` (`busReg`),
  CONSTRAINT `driver_ibfk_1` FOREIGN KEY (`busReg`) REFERENCES `bus` (`reg`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 |
+--------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
1 row in set (0.00 sec)
```

- constraint - foreign key - states only values that exist in the table - entity - relation - bus - column - attribute - field - reg - are allowed in the table - entity - relation - driver - column - attribute - field - busReg [1]

```sql
mysql> SELECT *
    -> FROM bus;
+------------+---------------+----------+
| reg        | maxPassengers | fuel     |
+------------+---------------+----------+
| 12-G-1323  |            34 | Petrol   |
| 161-D-1323 |            80 | Diesel   |
| 162-D-3433 |           120 | Electric |
| 191-G-123  |            56 | Diesel   |
+------------+---------------+----------+
4 rows in set (0.00 sec)
```

```sql
mysql> SELECT *
    -> FROM driver;
+-----------+------+------------+
| licenceNo | name | busReg     |
+-----------+------+------------+
| F2233     | Alan | 191-G-123  |
| L23423    | John | 12-G-1323  |
| X98983    | Tom  | 161-D-1323 |
+-----------+------+------------+
3 rows in set (0.00 sec)
```

- deleting row - record - tuple - from table - entity - relation - bus - database inconsistent - fails - table - entity - relation - driver - column - attribute - field - busReg - constraint - foreign key - references - table - entity - relation - bus - column - attribute - field - reg - any **values** **inserted** in a **column** - attribute - field - **foreign** **key** - **must** **exist** in the **column** - attribute - field - in the **table** - entity - relation - **referenced** - if the row - record - tuple - no longer exists in the table - entity - relation - bus - albeit still in the table - entity - relation - driver - column - attribute - field - busReg - database no longer consistent [1]

```sql
+------------+---------------+----------+
| reg        | maxPassengers | fuel     |
+------------+---------------+----------+
| 191-G-123  |            56 | Diesel   |
+------------+---------------+----------
```

- **referential** **integrity** - **compromised** - the first **row** - record - tuple - in the table - entity - relation - driver - is **referencing** a **row** - record - tuple - in the **table** - entity - relation - bus - that does **not** **exist** - database schema defined - mysql - ensure this does not happen - will not allow the row - record - tuple - 191-G-123 - to be deleted from the table - entity - relation - bus - given this value is referenced by another table - entity - relation - driver [1]

```sql
+-----------+------+------------+
| licenceNo | name | busReg     |
+-----------+------+------------+
| F2233     | Alan | 191-G-123  |
+-----------+------+------------+
```

- row - record - tuple - from the table - entity - relation - bus - not referenced by table - entity - relation - driver - can be deleted [1]

```sql
+------------+---------------+----------+
| reg        | maxPassengers | fuel     |
+------------+---------------+----------+
| 162-D-3433 |           120 | Electric |
+------------+---------------+----------+
```

- **mysql** - **definition** - constraint - **foreign** **key** **statement** - **nothing** else **mentioned** - implicitly means - do **not** **delete** any **row** - record - tuple - in the **table** - entity - relation - bus - **referenced** - mysql - default behaviour - not deleting a reference to a - foreign key - value [1]

```sql
CONSTRAINT `driver_ibfk_1` FOREIGN KEY (`busReg`) REFERENCES `bus` (`reg`)
```

- optional - **explicitly** **enforce** - **default** **behaviour** - when **creating** the **table** - entity - relation - enforce - **ON** **DELETE** **RESTRICT** - same effect as having nothing mentioned [1]

```sql
CONSTRAINT `driver_ibfk_1` FOREIGN KEY (`busReg`) REFERENCES `bus` (`reg`) ON DELETE RESTRICT
```

```sql
mysql> SHOW CREATE TABLE driver;
+--------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Table  | Create Table                                                                                                                                                                                                                                                                                                                      |
+--------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| driver | CREATE TABLE `driver` (
  `licenceNo` varchar(20) NOT NULL,
  `name` varchar(30) DEFAULT NULL,
  `busReg` varchar(15) DEFAULT NULL,
  PRIMARY KEY (`licenceNo`),
  KEY `busReg` (`busReg`),
  CONSTRAINT `driver_ibfk_1` FOREIGN KEY (`busReg`) REFERENCES `bus` (`reg`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=latin1 |
+--------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
1 row in set (0.00 sec)
```

- **deletion** of a **referenced** - **foreign** **key** - restricted - **not** **allowed** [1]

***
# END