# data-database-types-relational-language-SQL-MySQL-primary-key
> [TABLE OF CONTENTS](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/adb-MySQL.ipynb#top)
***

```sql
mysql> use lab1;
Database changed
```

```sql
mysql> show tables;
+----------------+
| Tables_in_lab1 |
+----------------+
| car            |
| person         |
+----------------+
2 rows in set (0.00 sec)
```

- nine rows - records - tuples - representing nine people - every row - record - tuple - has the same columns - attributes - fields - personID - name - age - sex - dob - isStudent - without the column - attribute - field - personID - it would be difficult to **distinguish** - two **rows** - records - tuples - Shane - two rows - records - tuples - Pat - male and female - **possible** **one** or **more** rows - records - tuples - could **share** **all** **characteristics** - columns - attributes - fields - especially as the database grows in size [1]

```sql
mysql> SELECT *
    -> FROM person;
+----------+-------+------+------+------------+-----------+
| personID | name  | age  | sex  | dob        | isStudent |
+----------+-------+------+------+------------+-----------+
|        1 | John  |   23 | M    | 2000-01-01 |         1 |
|        2 | Tom   |   64 | M    | 1958-03-11 |         0 |
|        3 | Mary  |   12 | F    | 2005-04-11 |         1 |
|        4 | Alan  |   12 | M    | 2005-11-21 |         1 |
|        5 | Pat   |   29 | M    | 1993-03-17 |         0 |
|        6 | Shane |   40 | M    | 1988-07-21 |         0 |
|        7 | Shane |   14 | M    | 2003-06-01 |         1 |
|        8 | Alice |   24 | F    | 1999-03-01 |         1 |
|        9 | Pat   |   37 | F    | 1988-04-15 |         0 |
+----------+-------+------+------+------------+-----------+
9 rows in set (0.00 sec)
```

- primary key - mysql - **uniquely** **identifying** **rows** - records - tuples - **characteristics** [1]

- **column** - attribute - field - that **serve** as a **primary** **key** **must** **contain** **unique** **values** - **cannot** contain - **NULL** - values [1]

- **table** - entity - relation - can **only** have **one** **primary** **key** [1]

- **storing** **information** about **employees** - employees **id** could operate as - **primary** **key** - **every** **employee** in a **company** has a **unique** **id** [1]

- table - relation - entity - person - does not matter what the column - attribute - field - personID - is as long as its unique [1]

- **schema** - **Extra** - **auto_increment** - the **column** - attribute - field - personID - **value** - will be **one** **number** **higher** than the **previous** **highest** [1]

```sql
mysql> DESCRIBE person;
+-----------+---------------+------+-----+---------+----------------+
| Field     | Type          | Null | Key | Default | Extra          |
+-----------+---------------+------+-----+---------+----------------+
| personID  | int           | NO   | PRI | NULL    | auto_increment |
| name      | varchar(20)   | NO   |     | NULL    |                |
| age       | int           | YES  |     | NULL    |                |
| sex       | enum('M','F') | YES  |     | M       |                |
| dob       | date          | YES  |     | NULL    |                |
| isStudent | tinyint(1)    | YES  |     | NULL    |                |
+-----------+---------------+------+-----+---------+----------------+
6 rows in set (0.00 sec)
```

- table - entity - relation - car - schema - the column - attribute - field - registration - is a good candidate as a primary key given it cannot be - NULL - or blank - every car has a registration and it is unique - no two cars have the same registration [1]

```sql
mysql> DESCRIBE car;
+--------------+-------------+------+-----+---------+-------+
| Field        | Type        | Null | Key | Default | Extra |
+--------------+-------------+------+-----+---------+-------+
| registration | varchar(15) | NO   | PRI | NULL    |       |
| make         | varchar(20) | YES  |     | NULL    |       |
| model        | varchar(20) | YES  |     | NULL    |       |
| colour       | varchar(10) | YES  |     | NULL    |       |
| mileage      | int         | YES  |     | NULL    |       |
| engineSize   | float(2,1)  | YES  |     | NULL    |       |
+--------------+-------------+------+-----+---------+-------+
6 rows in set (0.00 sec)
```

***
# END