# data-database-types-relational-language-SQL-MySQL-function-built-in-string-SUBSTR
> [TABLE OF CONTENTS](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/adb-MySQL.ipynb#top)
***

- **extract** - **substring** - **from** a **string** [1]

```sql
SUBSTR(string,start,length)
```

- three **pararmeters** - i) **string** - **extract** **from** - ii) **start** - **position** within the string - iii) **length** - number of **characters** to be **extracted** [1]

```sql
mysql> use school;
Database changed
```

```sql
mysql> show tables;
+------------------+
| Tables_in_school |
+------------------+
| subject          |
| teacher          |
+------------------+
2 rows in set (0.07 sec)
```

```sql
mysql> SELECT *
    -> FROM teacher;
+-----+--------------+-------+------------+------------+
| tid | Name         | level | experience | dob        |
+-----+--------------+-------+------------+------------+
|   1 | Mr. Pasteur  | L     |         15 | 1960-02-02 |
|   2 | Ms. Dubois   | L     |         22 | 1967-09-02 |
|   3 | Ms. Smith    | J     |          4 | 1980-03-23 |
|   4 | Mr. Hawking  | L     |         40 | 1951-02-19 |
|   5 | Mr. Kavanagh | J     |         50 | 1949-11-01 |
|   6 | Mr. Picasso  | J     |         42 | 1939-03-30 |
|   7 | Fr. Lynch    | L     |         55 | 1939-03-31 |
+-----+--------------+-------+------------+------------+
7 rows in set (0.02 sec)
```

- returned - columns - attributes - fields - tid - name - instead of returning entire column - attribute - field - name - return starts at position one in string - returning three characters [1]

```sql
mysql> SELECT tid,SUBSTR(name,1,3)
    -> FROM teacher;
+-----+------------------+
| tid | SUBSTR(name,1,3) |
+-----+------------------+
|   1 | Mr.              |
|   2 | Ms.              |
|   3 | Ms.              |
|   4 | Mr.              |
|   5 | Mr.              |
|   6 | Mr.              |
|   7 | Fr.              |
+-----+------------------+
7 rows in set (0.00 sec)
```

***
# END