# data-database-types-relational-language-SQL-MySQL-function-built-in-numeric-ROUND
> [TABLE OF CONTENTS](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/adb-MySQL.ipynb#top)
***

- **rounds** a **number** [1]

- **specified** by - **parameter** - **number** - to a **specified** **number** of **decimal** **places** [1]

```sql
ROUND(number,decimal)
```

```sql
mysql> use lab1;
Database changed
```

```sql
mysql> show tables;
+----------------+
| Tables_in_lab1 |
+----------------+
| car            |
| person         |
| personex       |
+----------------+
3 rows in set (0.00 sec)
```

```sql
mysql> DESCRIBE car;
+--------------+-------------+------+-----+---------+-------+
| Field        | Type        | Null | Key | Default | Extra |
+--------------+-------------+------+-----+---------+-------+
| registration | varchar(15) | NO   | PRI | NULL    |       |
| make         | varchar(20) | YES  |     | NULL    |       |
| model        | varchar(20) | YES  |     | NULL    |       |
| colour       | varchar(10) | YES  |     | NULL    |       |
| mileage      | int         | YES  |     | NULL    |       |
| engineSize   | float(2,1)  | YES  |     | NULL    |       |
+--------------+-------------+------+-----+---------+-------+
6 rows in set (0.00 sec)
```

```sql
mysql> SELECT engineSize
    -> FROM car
    -> LIMIT 4;
+------------+
| engineSize |
+------------+
|        1.6 |
|        1.3 |
|        1.4 |
|        1.3 |
+------------+
4 rows in set (0.01 sec)
```

- each row - record - tuple - in table - entity - relation - car - has a column - attribute - field - engineSize - for taxation purposes - need to round the column - attribute - field - engineSize - up or down - if **no** **decimal** **places** **specified** to round to - **default** to **nearest** **integer** [1]

```sql
mysql> SELECT ROUND(engineSize)
    -> FROM car
    -> LIMIT 4;
+-------------------+
| ROUND(engineSize) |
+-------------------+
|                 2 |
|                 1 |
|                 1 |
|                 1 |
+-------------------+
4 rows in set (0.00 sec)
```

***
# END