# data-database-types-relational-language-SQL-MySQL-function-built-in-string-REPLACE
> [TABLE OF CONTENTS](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/adb-MySQL.ipynb#top)
***

- **replaces** all **occurrences** of a **substring** **within** a **string** - **result** in a **new** **substring** [1]

```sql
REPLACE(string,from_string,to_string)
```

- three **pararmeters** - i) string - the **original** **string** - ii) from_string - the **substring** to be **replaced** - iii) to_string - the **new** **replacement** **string** [1]

```sql
mysql> use school;
Database changed
```

```sql
mysql> show tables;
+------------------+
| Tables_in_school |
+------------------+
| subject          |
| teacher          |
+------------------+
2 rows in set (0.00 sec)
```

```sql
mysql> SELECT *
    -> FROM teacher;
+-----+--------------+-------+------------+------------+
| tid | Name         | level | experience | dob        |
+-----+--------------+-------+------------+------------+
|   1 | Mr. Pasteur  | L     |         15 | 1960-02-02 |
|   2 | Ms. Dubois   | L     |         22 | 1967-09-02 |
|   3 | Ms. Smith    | J     |          4 | 1980-03-23 |
|   4 | Mr. Hawking  | L     |         40 | 1951-02-19 |
|   5 | Mr. Kavanagh | J     |         50 | 1949-11-01 |
|   6 | Mr. Picasso  | J     |         42 | 1939-03-30 |
|   7 | Fr. Lynch    | L     |         55 | 1939-03-31 |
+-----+--------------+-------+------------+------------+
7 rows in set (0.00 sec)
```

- command - SELECT - columns - attributes - fields - tid - name - from table - entity - relation - teacher - replacing every substring - Ms. - with - Mrs. - returns the value [1]

- **table** - entity - relation - is **not** **updated** **just** **returns** the **new** **string** - the **original** **string** is **unaffected** [1]

```sql
mysql> SELECT tid,
    -> REPLACE(name,"Ms.","Mrs")
    -> FROM teacher;
+-----+---------------------------+
| tid | REPLACE(name,"Ms.","Mrs") |
+-----+---------------------------+
|   1 | Mr. Pasteur               |
|   2 | Mrs Dubois                |
|   3 | Mrs Smith                 |
|   4 | Mr. Hawking               |
|   5 | Mr. Kavanagh              |
|   6 | Mr. Picasso               |
|   7 | Fr. Lynch                 |
+-----+---------------------------+
7 rows in set (0.00 sec)
```

***
# END