# data-database-types-relational-language-SQL-MySQL-function-built-in-string-ASCII
> [TABLE OF CONTENTS](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/adb-MySQL.ipynb#top)
***

- **returns** the **ASCII** **value*** of the **first** **character** in a **string** [1]

```sql
mysql> SELECT ASCII("M");
+------------+
| ASCII("M") |
+------------+
|         77 |
+------------+
1 row in set (0.00 sec)
```

```sql
mysql> SELECT ASCII("D");
+------------+
| ASCII("D") |
+------------+
|         68 |
+------------+
1 row in set (0.00 sec)
```

***
# END