# data-database-types-relational-language-SQL-MySQL-C_R_UD-read-command-SELECT-WHERE-operator-BETWEEN
> [TABLE OF CONTENTS](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/adb-MySQL.ipynb#top)
***

- **same** as - **greater** **than** or **equal** to - **less** **than** or **equal** to [1]

```sql
mysql> use lab1;
Database changed
```

```sql
mysql> show tables;
+----------------+
| Tables_in_lab1 |
+----------------+
| car            |
| person         |
+----------------+
2 rows in set (0.00 sec)
```

```sql
mysql> SELECT *
    -> FROM person;
+----------+-------+------+------+------------+-----------+
| personID | name  | age  | sex  | dob        | isStudent |
+----------+-------+------+------+------------+-----------+
|        1 | John  |   23 | M    | 2000-01-01 |         1 |
|        2 | Tom   |   64 | M    | 1958-03-11 |         0 |
|        3 | Mary  |   12 | F    | 2005-04-11 |         1 |
|        4 | Alan  |   12 | M    | 2005-11-21 |         1 |
|        5 | Pat   |   29 | M    | 1993-03-17 |         0 |
|        6 | Shane |   40 | M    | 1988-07-21 |         0 |
|        7 | Shane |   14 | M    | 2003-06-01 |         1 |
|        8 | Alice |   24 | F    | 1999-03-01 |         1 |
|        9 | Pat   |   37 | F    | 1988-04-15 |         0 |
+----------+-------+------+------+------------+-----------+
9 rows in set (0.00 sec)
```

- returned rows - records - tuples - from columns - attributes - fields - personID - name - age - clause - WHERE - column - attribute - field - age - values - between 20 and 39 - including - 20 - 39 [1]

- only difference is - **operator** - **BETWEEN** - is **less** **verbose** and **easier** to **read** [1]

```sql
mysql> SELECT personID,name,age
    -> FROM person
    -> WHERE age>=20
    -> AND age<=39;
+----------+-------+------+
| personID | name  | age  |
+----------+-------+------+
|        1 | John  |   23 |
|        5 | Pat   |   29 |
|        8 | Alice |   24 |
|        9 | Pat   |   37 |
+----------+-------+------+
4 rows in set (0.00 sec)
```

```sql
mysql> SELECT personID,name,age
    -> FROM person
    -> WHERE age BETWEEN 20 AND 39;
+----------+-------+------+
| personID | name  | age  |
+----------+-------+------+
|        1 | John  |   23 |
|        5 | Pat   |   29 |
|        8 | Alice |   24 |
|        9 | Pat   |   37 |
+----------+-------+------+
4 rows in set (0.00 sec)
```

- no difference in execution time in either query - **mysql** - **optimises** **queries** **based** **on** the **physical** **schema** of the **database** [1]

***
# END