# data-database-types-relational-language-SQL-MySQL-C_R_UD-read-command-SELECT-DISTINCT
> [TABLE OF CONTENTS](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/adb-MySQL.ipynb#top)
***

- **SELECT** **DISTINCT** - **returns** **only** **distinct** - different - **unique** **values** of different **columns** - attributes - fields [1]

- customers table - entity - relation - see counties reside in - if two hundred customers are from galway - do not want to see galway printed two hundred times - once is enough [1]

[MySQL Documentation](https://web.archive.org/web/20200617063136/https://dev.mysql.com/doc/refman/8.0/en/distinct-optimization.html)

```sql
mysql> use lab1;
Database changed
```

```sql
mysql> show tables;
+----------------+
| Tables_in_lab1 |
+----------------+
| car            |
| person         |
+----------------+
2 rows in set (0.00 sec)
```

```sql
mysql> SELECT *
    -> FROM person;
+----------+-------+------+------+------------+-----------+
| personID | name  | age  | sex  | dob        | isStudent |
+----------+-------+------+------+------------+-----------+
|        1 | John  |   23 | M    | 2000-01-01 |         1 |
|        2 | Tom   |   64 | M    | 1958-03-11 |         0 |
|        3 | Mary  |   12 | F    | 2005-04-11 |         1 |
|        4 | Alan  |   12 | M    | 2005-11-21 |         1 |
|        5 | Pat   |   29 | M    | 1993-03-17 |         0 |
|        6 | Shane |   40 | M    | 1988-07-21 |         0 |
|        7 | Shane |   14 | M    | 2003-06-01 |         1 |
|        8 | Alice |   24 | F    | 1999-03-01 |         1 |
|        9 | Pat   |   37 | F    | 1988-04-15 |         0 |
+----------+-------+------+------+------------+-----------+
9 rows in set (0.00 sec)
```

- **returned** **rows** - records - tuples - statement - **SELECT** **DISTINCT** - **followed** by **column** - attribute - field - name - get **unique** value - there are two - Shane - Pat - in the table - entity - relation - only appear once each [1]

```sql
mysql> SELECT DISTINCT(name)
    -> FROM person;
+-------+
| name  |
+-------+
| John  |
| Tom   |
| Mary  |
| Alan  |
| Pat   |
| Shane |
| Alice |
+-------+
7 rows in set (0.00 sec)
```

***
# END