# data-database-types-relational-language-SQL-MySQL-function-built-in-aggregate-clause-GROUP-BY-HAVING
> [TABLE OF CONTENTS](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/adb-MySQL.ipynb#top)
***

- **clause** - **HAVING** - **often** **used** **with** - **clause** - **GROUP** **BY** - to **filter** **groups** based on a **specified** **condition** [1]

- **clause** - **GROUP** **BY** - **omitted** - **clause** - **HAVING** - **behaves** like the - **clause** - **WHERE** [1]

 - **clause** - **HAVING** - **applies** a **filter** **condition** to **each** **group** of **rows** - records - tuples [1]

- **clause** - **WHERE** - **applies** the **filter** **condition** to **each** **individual** **row** - record - tuple [1]

```sql
mysql> use lab5;
Database changed
```

```sql
mysql> show tables;
+----------------+
| Tables_in_lab5 |
+----------------+
| car            |
| person         |
+----------------+
2 rows in set (0.00 sec)
```

```sql
mysql> SELECT *
    -> FROM car;
+--------------+--------+------------+--------+---------+------------+
| registration | make   | model      | colour | mileage | engineSize |
+--------------+--------+------------+--------+---------+------------+
| 05-MO-17931  | Toyota | Highlander | Green  |  253789 |        1.6 |
| 10-G-2334    | Toyota | Corolla    | Green  |  123389 |        1.3 |
| 10-WH-17931  | Toyota | Corolla    | Silver |  130389 |        1.4 |
| 11-MO-23431  | Toyota | Corolla    | Black  | 1234123 |        1.3 |
| 12-WH-123    | Ford   | Ka         | Black  |  125882 |        1.0 |
| 132-G-9923   | Ford   | Ka         | Silver |  325883 |        1.0 |
| 132-MO-19323 | Ford   | Galaxy     | Silver |    2343 |        1.5 |
| 171-G-39532  | Toyota | Corolla    | Silver |   55882 |        1.3 |
| 171-MO-12533 | Ford   | Fiesta     | Black  |   25882 |        1.0 |
| 99-G-300     | Toyota | Corolla    | Green  |  599339 |        1.3 |
+--------------+--------+------------+--------+---------+------------+
10 rows in set (0.00 sec)
```

- using **clause** - **WHERE** - to **apply** a **filter** - average **columnn** - attribute - field - mileage - for each column - attribute - field - model - of car round to the nearest whole number - clause - WHERE - column - attribute - field - mileage - greater than sixty-thousand - alias - KMs - **clause** - **GROUP** **BY** - round average for each individual **column** - attribute - field - model [1]

```sql
mysql> SELECT model,ROUND(AVG(mileage)) as KMs
    -> FROM car
    -> WHERE mileage>60000
    -> GROUP BY model;
+------------+--------+
| model      | KMs    |
+------------+--------+
| Highlander | 253789 |
| Corolla    | 521810 |
| Ka         | 225883 |
+------------+--------+
3 rows in set (0.00 sec)
```

- **applying** an **extra** **condition** - after finding the average - only **interested** in the **grouping** of the **column** - attribute - field - model - whose average is greater than two-hundred and fifty thousand [1]

- **clause** - **HAVING** - applies a **filter** **condition** to **each** **group** of **rows** - records - tuples - **defined** **by** - **clause** - **GROUP** **BY** - the filter is the average column - attribute - field - mileage - for each column - attribute - field - model - greater than two-hundred and fifty thousand - clause - HAVING - eliminates the grouping of the column - attribute - field - value - Ka - given condition - clause - HAVING - greater than two-hundred and fifty thousand is not satisfied [1]

```sql
mysql> SELECT model,ROUND(AVG(mileage)) as KMs
    -> FROM car
    -> WHERE mileage>60000
    -> GROUP BY model
    -> HAVING KMs>250000;
+------------+--------+
| model      | KMs    |
+------------+--------+
| Highlander | 253789 |
| Corolla    | 521810 |
+------------+--------+
2 rows in set (0.00 sec)
```

***
# END