# data-database-types-relational-language-SQL-MySQL-function-built-in-string-UPPER
> [TABLE OF CONTENTS](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/adb-MySQL.ipynb#top)
***

- **returns** an **uppercase** **version** of a **string** [1]

```sql
mysql> use lab1;
Database changed
```

```sql
mysql> show tables;
+----------------+
| Tables_in_lab1 |
+----------------+
| car            |
| person         |
| personex       |
+----------------+
3 rows in set (0.00 sec)
```

```sql
mysql> describe person;
+-----------+---------------+------+-----+---------+----------------+
| Field     | Type          | Null | Key | Default | Extra          |
+-----------+---------------+------+-----+---------+----------------+
| personID  | int           | NO   | PRI | NULL    | auto_increment |
| name      | varchar(20)   | NO   |     | NULL    |                |
| age       | int           | YES  |     | NULL    |                |
| sex       | enum('M','F') | YES  |     | M       |                |
| dob       | date          | YES  |     | NULL    |                |
| isStudent | tinyint(1)    | YES  |     | NULL    |                |
+-----------+---------------+------+-----+---------+----------------+
6 rows in set (0.00 sec)
```

```sql
mysql> SELECT UPPER(name)
    -> FROM person;
+-------------+
| UPPER(name) |
+-------------+
| JOHN        |
| TOM         |
| MARY        |
| ALAN        |
| PAT         |
| SHANE       |
| SHANE       |
| ALICE       |
| PAT         |
+-------------+
9 rows in set (0.00 sec)
```

***
# END