# data-database-types-relational-language-SQL-MySQL-C_R_UD-read-command-SELECT-INNER-JOIN
> [TABLE OF CONTENTS](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/adb-MySQL.ipynb#top)
***

- **obtain** **information** from a database **whereby** **all** the information is **not** **stored** in a **single** **table** - entity - relation [1]

- obtain from table - entity - relation - Patient_Table - the rows - records - tuples - of columns - attributes - fields - PPSN - First_Name - as well as from the table - entity - relation - Doctor_table - the rows - records - tuples - of columns - attributes - fields - Name - Phone [1]

<img src="img/06-02-10-02.png" />

```
mysql> use hospital;
Database changed
```

```sql
mysql> show tables;
+--------------------+
| Tables_in_hospital |
+--------------------+
| doctor_table       |
| patient_table      |
+--------------------+
2 rows in set (0.00 sec)
```

```sql
mysql> describe doctor_table;
+----------+-------------+------+-----+---------+-------+
| Field    | Type        | Null | Key | Default | Extra |
+----------+-------------+------+-----+---------+-------+
| doctorID | int         | NO   | PRI | NULL    |       |
| name     | varchar(50) | YES  |     | NULL    |       |
| phone    | int         | YES  |     | NULL    |       |
+----------+-------------+------+-----+---------+-------+
3 rows in set (0.00 sec)
```

```sql
mysql> describe patient_table;
+------------+--------------+------+-----+---------+-------+
| Field      | Type         | Null | Key | Default | Extra |
+------------+--------------+------+-----+---------+-------+
| ppsn       | varchar(10)  | NO   | PRI | NULL    |       |
| first_name | varchar(50)  | YES  |     | NULL    |       |
| surname    | varchar(50)  | YES  |     | NULL    |       |
| address    | varchar(200) | YES  |     | NULL    |       |
| doctorID   | int          | YES  | MUL | NULL    |       |
+------------+--------------+------+-----+---------+-------+
5 rows in set (0.00 sec)
```

```sql
mysql> SHOW CREATE TABLE patient_table;
+---------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Table         | Create Table                                                                                                                                                                                                                                                                                                                                                                                                         |
+---------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| patient_table | CREATE TABLE `patient_table` (
  `ppsn` varchar(10) NOT NULL,
  `first_name` varchar(50) DEFAULT NULL,
  `surname` varchar(50) DEFAULT NULL,
  `address` varchar(200) DEFAULT NULL,
  `doctorID` int DEFAULT NULL,
  PRIMARY KEY (`ppsn`),
  KEY `doctorID` (`doctorID`),
  CONSTRAINT `patient_table_ibfk_1` FOREIGN KEY (`doctorID`) REFERENCES `doctor_table` (`doctorID`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 |
+---------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
1 row in set (0.00 sec)
```

- table - entity - relation - patient_table - obtain from columns - attributes - fields - ppsn - first_name - table - entity - relation - doctor_table - obtain from columns - attributes - fields - name - phone - **joining** rows - records - tuples - from the table - entity - relation - patient_table - with rows - records - tuples - from the table - entity - relation - doctor_table - based on - patient_table - doctorID - associated with - doctor_table - doctorID - whereby the doctor identification number is the same in both - **sql** - **joins** **rows** - records - tuples - in a **tables** - entities - relations - **based** on the **foreign** **key** [1]

```sql
CONSTRAINT `patient_table_ibfk_1` FOREIGN KEY (`doctorID`) REFERENCES `doctor_table` (`doctorID`)
```

```sql
mysql> SELECT patient_table.ppsn,patient_table.first_name,
    -> doctor_table.name,doctor_table.phone
    -> FROM patient_table
    -> INNER JOIN doctor_table
    -> on patient_table.doctorId=doctor_table.doctorID;
+----------+------------+------------+-------+
| ppsn     | first_name | name       | phone |
+----------+------------+------------+-------+
| 7629913X | John       | Dr. Jones  | 12345 |
| 9898823W | Fred       | Dr. Jones  | 12345 |
| 989333F  | Alan       | Dr. Murphy | 88335 |
+----------+------------+------------+-------+
3 rows in set (0.00 sec)
```

```sql
mysql> SELECT pt.ppsn,pt.first_name,
    -> dt.name,dt.phone
    -> FROM patient_table pt
    -> INNER JOIN doctor_table dt
    -> on pt.doctorID=dt.doctorID;
+----------+------------+------------+-------+
| ppsn     | first_name | name       | phone |
+----------+------------+------------+-------+
| 7629913X | John       | Dr. Jones  | 12345 |
| 9898823W | Fred       | Dr. Jones  | 12345 |
| 989333F  | Alan       | Dr. Murphy | 88335 |
+----------+------------+------------+-------+
3 rows in set (0.00 sec)
```

- **SELECT** - **first** **line** in the **query** - **usually** **last** **thing** **done** - **prints** out **information** **returned** [1]

```sql
SELECT patient_table.ppsn,patient_table.first_name,
doctor_table.name,doctor_table.phone
```

- **FROM** - **query** **starts** - **read** **every** **row** - record - tuple - from the **table** - entity - relation - patient_table [1]

- only one table - entity - relation - not both - given the first table - entity - relation - patient_table - is the first specified in the - SELECT [1]

```sql
FROM patient_table
```

- **INNER** **JOIN** - **obtaining** **information** from **more** **than** **one** **table** - entity - relation - **must** **join** [1]

- **specify** **what** to **join** **on** - **should** **only** **ever** **join** **two** **tables** - entities - relations - **on** **foreign** **key** - **otherwise** the results will be **unpredictable** [1]

- **join** **each** **row** - record - tuple - in the **table** - entity - relation - patient_table - **to** **each** **row** - record - tuple - in the **other** **table** - entity - relation - doctor_table [1]

```sql
INNER JOIN doctor_table
```

- **table** - entity - relation - patient_table - **column** - attribute - field - doctorID - **foreign** **key** - **referencing** **other** **table** - entity - relation - doctor_table - **column** - attribute - field - doctorID [1]

- **only** **way** to **join** is **when** the **value** of the **column** - attribute - field - doctorID - in **both** **tables** - entities - relations - are the **same** **value** - patient_table - doctorID - equals - doctor_table - doctorID [1]

```sql
on patient_table.doctorId = doctor_table.doctorID;
```

***
# END