# data-database-types-relational-language-SQL-MySQL-C_R_UD-read-command-SELECT-LEFT-JOIN
> [TABLE OF CONTENTS](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-MySQL/blob/main/adb-MySQL.ipynb#top)
***

- **LEFT** **JOIN** - **all** **rows** - records - tuples - from the **table** - entity - relation - **returned** **regardless** of whether the **join** **condition** is **satisfied** [1]

```sql
mysql> use hospital;
Database changed
```

```sql
mysql> show tables;
+--------------------+
| Tables_in_hospital |
+--------------------+
| doctor_table       |
| patient_table      |
+--------------------+
2 rows in set (0.00 sec)
```

```sql
mysql> describe doctor_table;
+----------+-------------+------+-----+---------+-------+
| Field    | Type        | Null | Key | Default | Extra |
+----------+-------------+------+-----+---------+-------+
| doctorID | int         | NO   | PRI | NULL    |       |
| name     | varchar(50) | YES  |     | NULL    |       |
| phone    | int         | YES  |     | NULL    |       |
+----------+-------------+------+-----+---------+-------+
3 rows in set (0.00 sec)
```

```sql
mysql> describe patient_table;
+------------+--------------+------+-----+---------+-------+
| Field      | Type         | Null | Key | Default | Extra |
+------------+--------------+------+-----+---------+-------+
| ppsn       | varchar(10)  | NO   | PRI | NULL    |       |
| first_name | varchar(50)  | YES  |     | NULL    |       |
| surname    | varchar(50)  | YES  |     | NULL    |       |
| address    | varchar(200) | YES  |     | NULL    |       |
| doctorID   | int          | YES  | MUL | NULL    |       |
+------------+--------------+------+-----+---------+-------+
5 rows in set (0.00 sec)
```

```sql
mysql> SHOW TABLE CREATE patient_table;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CREATE patient_table' at line 1
mysql> SHOW CREATE TABLE patient_table;
+---------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Table         | Create Table                                                                                                                                                                                                                                                                                                                                                                                                         |
+---------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| patient_table | CREATE TABLE `patient_table` (
  `ppsn` varchar(10) NOT NULL,
  `first_name` varchar(50) DEFAULT NULL,
  `surname` varchar(50) DEFAULT NULL,
  `address` varchar(200) DEFAULT NULL,
  `doctorID` int DEFAULT NULL,
  PRIMARY KEY (`ppsn`),
  KEY `doctorID` (`doctorID`),
  CONSTRAINT `patient_table_ibfk_1` FOREIGN KEY (`doctorID`) REFERENCES `doctor_table` (`doctorID`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 |
+---------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
1 row in set (0.00 sec)
```

- **table** - entity - relation - patient_table - **obtain** from **columns** - attributes - fields - ppsn - first_name - **plus** **other** **table** - entity - relation - doctor_table - **obtain** from **columns** - attributes - fields - name - phone - **joining** **rows** - records - tuples - patient_table - with rows - records - tuples - doctor_table - of **all** patients - doctor assigned or not [1]

```sql
mysql> SELECT patient_table.ppsn,patient_table.first_name,
    -> doctor_table.name,doctor_table.phone
    -> FROM patient_table
    -> LEFT JOIN doctor_table
    -> on patient_table.doctorID=doctor_table.doctorID;
+----------+------------+------------+-------+
| ppsn     | first_name | name       | phone |
+----------+------------+------------+-------+
| 2344234S | Mary       | NULL       |  NULL |
| 7629913X | John       | Dr. Jones  | 12345 |
| 989333F  | Alan       | Dr. Murphy | 88335 |
| 9898823W | Fred       | Dr. Jones  | 12345 |
+----------+------------+------------+-------+
4 rows in set (0.00 sec)
```

```sql
mysql> SELECT pt.ppsn,pt.first_name,
    -> dt.name,dt.phone
    -> FROM patient_table pt
    -> LEFT JOIN doctor_table dt
    -> on pt.doctorID=dt.doctorID;
+----------+------------+------------+-------+
| ppsn     | first_name | name       | phone |
+----------+------------+------------+-------+
| 2344234S | Mary       | NULL       |  NULL |
| 7629913X | John       | Dr. Jones  | 12345 |
| 989333F  | Alan       | Dr. Murphy | 88335 |
| 9898823W | Fred       | Dr. Jones  | 12345 |
+----------+------------+------------+-------+
4 rows in set (0.00 sec)
```

- **table** - entity - relation - patient_table - **row** - record - tuple - **value** - Mary - **column** - attribute - field - doctorID - **does** **not** **match** **other** **table** - entity - relation - doctor_table - **column** - attribute - field - doctorID - **NULL** [1]

- **join** - **LEFT** **JOIN** - the **join** **condition** - **from** the **first** - **LEFT** - **table** - entity - relation - patient_table - **returned** including - **NULL** - **instead** of **rows** - records - tuples - from the **other** **table** - entity - relation - doctor_table [1]

***
# END